body {
    background: #4f74db;
    background-image:url('https://c.pxhere.com/photos/a2/e5/milky_way_star_night_sky_background_texture_night_star_clusters_sky-674001.jpg!d');
    /*backdrop-filter: blur(2px);*/
    font-family: Arial;
    height: 100vh;
  }
  .menu{
    background-color: #314887;
  }

  .menu ul {
    display: flex;
    justify-content: space-evenly;
  }

  .menu li {
    list-style: none;
  }
  
  a{
    text-decoration:none;
    color: white;
  }

  a:hover{
    text-decoration: underline;
  }

  .site-subtitle,
  .site-title{
    text-align: center;
    color:white;
  }

  
  .site-subtitle{
    font-style: italic;  
  }
